*
{
  margin:0;
  padding:0;
}

html
{
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-size:62.5%;
}
body
{
  background:linear-gradient(#BCCEF8,#8FE3CF,#0008C1);
}
h1
{
  text-align:center;
  font-size:55px;
}

p
{
  font-family:Comic Sans MS,serif;
  text-align:center;
  font-size:30px;
}

ul
{
  list-style-type:none;
}

a
{
  text-decoration:none;
  color:black;
  font-size:20px;
}
.phead
{
  margin:70px 0 20px 0;
  text-decoration:underline;
  position:relative;
  top:15%;
}

#projects
{
  display:flex;
justify-content:space-evenly;
margin-top:100px;
}

.p1,.p2
{
  margin:30px 0;
  border:5px solid;
}

.p1 h3,.p2 h3
{
  text-align:center;
}

#contact
{
  margin-top:70px;
}

#link
{
  margin:80px 10px  50px 0;
  display:flex;
justify-content:space-evenly;
}

footer
{
  border:1px solid;
  margin:20px 0;
  font-size:20;
  text-align:center;
}

#navbar
{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:80px;
  background-color:#5837D0;
  border-bottom:4px solid #CDFCF6;
  z-index:2;
}
