*
{
  margin:0;
  padding:0;
}

html
{
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-size:62.5%;
}
body
{
  background:linear-gradient(#BCCEF8,#8FE3CF,#0008C1);
}
h1
{
  text-align:center;
  font-size:55px;
}
